{% extends "base.html" %} {% block head %}
<title> FTSE100 Graphs </title>
{% load staticfiles %} {% endblock %} {% load staticfiles %} {% block body %}


<div class="container-fluid">

    <h2> FTSE 100 - Stock Selection! </h2>

    <div class="row">
        <div class="col-md-8 StockPicker">
            <span class="txtColR">  <h3>Stock Picker</h3>
            <h6>Select your stock (click on tick). 
            Total Remaining : {{ count_left }} out of {{ max }} </h6>
            </span>

            <div class="col-md-4">
                <table>
                    {% for stock in Stocks1 %} {% if stock not in myStocks %}
                    <tr>
                        <td>
                            <h5>{{ stock.CompanyName|truncatechars:25 }} - {{ stock.Symbol }}</h5>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            {% if count_left > 0 %}
                            <span class="align-middle">
                           
                           <a href="{% url 'stockData:change_stockList' operation='add' symbol=stock.Symbol %}">
                        <button type="button" class="btn btn-success btn-xs "><small><span class="glyphicon glyphicon-ok"></span></small>
                            </button>
                            </a>
                            </span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %} {% endfor %}
                </table>
            </div>
            <div class="col-md-4">
                <table>

                    {% for stock in Stocks2 %} {% if stock not in myStocks %}
                    <tr>

                        <td>
                            <h5>{{ stock.CompanyName|truncatechars:25 }} - {{ stock.Symbol }}</h5>

                        </td>
                        <td>
                            &nbsp;

                        </td>

                        <td>
                            {% if count_left > 0 %}
                            <span class="align-middle">
                           
                           <a href="{% url 'stockData:change_stockList' operation='add' symbol=stock.Symbol %}">
                        <button type="button" class="btn btn-success btn-xs "><small><span class="glyphicon glyphicon-ok"></span></small>
                            </button>
                            </a>
                            </span>
                            {% endif %}

                        </td>


                    </tr>
                    {% endif %} {% endfor %}


                </table>
            </div>


        </div>
        <div class="col-md-1 zero">
            <span></span>
        </div>
        <div class="col-md-3" style="background-color:#afd6b5; overflow: auto;">

            {% if mycount == 0 %}

            <h3> None selected!</h3>
            <h6>Add stocks. </h6>


            {%else %}

            <h3> {{ mycount }} selected!</h3>
            <h6>Click x to remove selection. </h6>

            {% endif%}

            <div class="col-md-12" style="background-color:#afd6b5; overflow: auto;">
                <table>

                    {% for mystock in myStocks %}

                    <tr>
                        <td>
                            <h5> {{ mystock.Symbol }} </h5>

                        </td>
                        <td>&nbsp;</td>

                        <td>

                            <span class="align-middle">
                           
                           <a href="{% url 'stockData:change_stockList' operation='remove' symbol=mystock.id %}">
                        <button type="button" class="btn btn-danger btn-xs "><small><span class="glyphicon glyphicon-remove"></span></small>
                            </button>
                            </a>
                            </span>

                        </td>
                    </tr>

                    {% endfor %}
                </table>
            </div>

            {% if mycount > 0 %}
            <br><br><br><br>


            <h3><a href="{% url 'graphs:graph' %}" class="glyphicon glyphicon-equalizer" role="Link"> ShowGraph</a></h3>

            <br>
            <h6>* Note that this graph is cached for one min!</h6>

            {%else %} {% endif%}

        </div>
    </div>


</div>
{% endblock %}
