{% extends "base.html" %} {% block head %}
<title> my django site </title>
{% endblock %} {% load staticfiles %} {% block body %}

<div class="container-fluid">

    <h2> Error!</h2>

    <div class="row">
        <div class="col-md-8" style="background-color:#cccccc; overflow: auto;">
            <span> 

                No stocks were selected, please select the stocks. <a href="{% url 'stockData:home' %}">Click Here!</a>

            </span>


        </div>
        {% endblock %}